$h1:#{'min(3.6em,36px)'};
$h2:#{'min(3.6em,36px)'};
$h3:#{'min(2.4em,24px)'};
$h4:#{'min(1.8em,18px)'};
$p:#{'min(1.8em,18px)'};

$lh80:#{'min(2rem,80px)'};
$lh40:#{'min(1rem,40px)'};
$lh20:#{'min(0.5rem,20px)'};


// 폰트지정
@mixin ff($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('../css/fonts/#{$url}');
    }
}
// 사용 할 폰트
@include ff(mr,'Merriweather-LightItalic.ttf');
@include ff(lola,'Lora-Regular.ttf');
@include ff(loa,'Lora-Italic.ttf');

// 그리드
@mixin gd($dev){
    @if($dev=='pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else{
        width: 90%;
        max-width: 700px;
    }
    margin: 0 auto;
}

// 백그라운드 기본설정
@mixin bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// 플렉스
@mixin fx{
    display: flex;
    justify-content: space-between;
}

html{
    font-size: 3vw;  
    body{
        position: relative;
        background-color: #000;
        color: #fff;
        font-size: 0.7vw;
        overflow-x: hidden;
    }
}
// 헤더
.hdrWrap{
    width: 100%;
    position: relative;
    transition: all 0.5s;
    &.fix{
        position: fixed;
        top: 0;
        left: 0;
        color: #000;
        background-color: #fff;
        z-index: 900;
        h4{
            &:hover{
                color: orange;
            }
        }
    }
    header{
        @include gd('pc');
        @include fx;
        h1{
            cursor: pointer;
            font-size: $h1;
            text-transform: uppercase;
            font-weight: normal;
            line-height: $lh80;
            position: relative;
            a:link{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        nav{
            text-transform: uppercase;
            width: calc(100% / 12 * 6);
            @include fx;
            font-size: $h4;
            line-height: $lh80;
            h4{
                cursor: pointer;
                position: relative;
                a:link{
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:hover{
                    color: orange;
                }
            }
        }
        .menu{
            @include fx;
            width: calc(100% / 12 * 1.5);
            font-size: #{'min(3em,30px)'};
            i{
                cursor: pointer;
                line-height: $lh80;
                &:nth-child(4){
                    display: none;
                }
            }
        }
        .menuMob{
            display: none;
        }
    }
}
.mainWrap{
    main{
        @include gd('pc');
        text-align: left;
        h2{
            margin-top:  #{'min(3rem,120px)'};
            font-size: #{'min(4.8em,48px)'};
            line-height: $lh80;
            font-family: 'mr';
        }
        h3{
            margin-top: $lh40;
            font-size: #{'min(2.8em,28px)'};
            line-height: $lh40;
            font-family: 'loa';
        }
        p{
            margin-top: $lh40;
            font-size: #{'min(1.4em,14px)'};
            line-height: $lh20;
            height: $lh40;
            width: calc(100% / 12 * 8);
            font-family: 'lola';
        }
    }
}
// 컨텐츠1
.cntWrap{
    margin-top:  #{'min(3rem,120px)'};
    .content{
        @include gd('pc');
        section{
            article{
                &:nth-child(1){
                    .image.i1{
                        width: calc(100% / 12 * 6);
                        @include bg;              
                        height: #{'min(14rem,640px)'};
                        background-image: url('../images/sub3/cnt1-1.png');
                        margin: 0 auto;
                    }
                    .texts{
                        width: calc(100% / 12 * 10);
                        margin: 0 auto;
                        p{
                            transition: height 1s;
                            margin-top:  #{'min(1rem,40px)'};
                            font-size:  #{'min(1.4em,14px)'};
                            line-height: $lh20;
                            height:#{'min(1.5rem,60px)'};
                            width: 100%;
                            text-align: center;
                            overflow: hidden;
                            &.on{
                                height:#{'min(3rem,120px)'};
                            }
                        }
                        h4{
                            text-align: center;
                            margin-top: $lh20;
                            text-transform: capitalize;
                            font-size:  #{'min(1.4em,14px)'};
                            line-height: $lh20;
                            opacity: 70%;
                        }
                    }
                }
                &:nth-child(2){
                    position: relative;
                    margin-top: #{'min(3.5rem,140px)'};
                    height: #{'min(13rem,520px)'};
                    .image.i2{
                        width: calc(100% / 12 * 7);
                        @include bg;              
                        height: #{'min(9rem,360px)'};
                        background-image: url('../images/sub3/cnt1-2.png');
                        margin-left: #{'min(1.75rem,70px)'};
                    }
                    .texts{
                        padding-top: $lh80;
                        padding-left: $lh20;
                        position: absolute;
                        top: #{'min(6rem,240px)'};
                        right: #{'min(1.75rem,70px)'};
                        width: calc(100% / 12 * 5);
                        height: #{'min(7rem,280px)'};
                        background-color: #fff;
                        color: #000;
                        box-shadow: 0px 0px 0px,-6px -6px 12px black;
                        p{
                            width: calc(100% / 5 * 4.2);
                            font-size: #{'min(1.6em,16px)'};
                            line-height: $lh20;
                            height: $lh80;
                            font-weight: 700;
                            overflow: hidden;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }       
    }
}
// 배너
.bnrWrap{
    background: #fff;
    color: #000;
    margin-top:  #{'min(3rem,120px)'};
    .banner{
        @include gd('pc');
        padding: $lh80 0px $lh80;
        .text{
            width: 100%;
            text-align: center;
            p{
                width: calc(100% / 12 * 8);
                margin: 0 auto;
                transition: height 1s;
                font-size: #{'min(1.6em,16px)'};
                line-height: $lh20;
                height: #{'min(1rem,40px)'};
                font-weight: 700;
                text-transform: capitalize;
                overflow: hidden;
                font-family: 'lola';
                &.on{
                    height:#{'min(2rem,80px)'};
                }
            }
            h4{
                text-align: center;
                margin-top: $lh20;
                text-transform: capitalize;
                font-size:  #{'min(1.4em,14px)'};
                line-height: $lh20;
                opacity: 80%;
            }
        }
        .images{
            .imgTop{
                margin: #{'min(1.5rem,60px)'} auto;
                width: calc(100% / 12 * 4);
                height: $lh80;
                @include bg;
                background-image: url('../images/sub3/bnr1.png');
            }
            .imgBtm{
                @include fx;
                .imgGroup{
                    width: calc(100% / 4 - 20px);
                    .image{
                        margin: 0 auto;
                        height: $lh80;
                        width: calc(100% / 4 * 1.3);
                        @include bg;
                        @for $img from 1 through 4{
                            &.i#{$img}{
                                background-image: url('../images/sub3/bnr2-#{$img}.png');
                            }
                        }
                    }
                    .texts{
                        margin-top: $lh20;
                        text-align: center;
                        font-size: $h4;
                        line-height: $lh20;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
// 푸터
.ftrWrap{
    margin-top: #{'min(4rem,160px)'};
    padding: $lh80 0px $lh80;
    background-color: #1d1d1d;
    footer{
        @include fx;
        @include gd('pc');
        .ftrLeft{
            width: calc(100% / 12 * 7);
            .logo{
                @include bg;
                background-size: contain;
                width: calc(100% / 7 * 1.8);
                height: #{'min(2rem,80px)'};
                background-image: url('../images/main/Slamp_footer_logo.png');
            }
            .info{
                width: 102%;
                margin-top: $lh40;
                p{
                    font-size: #{'min(1.4em,14px)'};
                    line-height: $lh20;
                    height: $lh40;
                }
                ul{
                    width: calc(100% / 7 * 2.5);
                    @include fx;
                    li{
                        margin-top: #{'min(0.5rem,20px)'};
                        line-height: $lh20;
                        font-size: #{'min(1.4em,14px)'};
                        &::after{
                            opacity: 50%;
                            display: block;
                            content: '';
                            border: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .ftrRight{
            width: calc(100% / 12 * 2);
            font-size: #{'min(2.4em,24px)'};
            i{
                background-color: #fff;
                border-radius: 2px;
                color: #000;
            }
        }
    }
}


// 반응형 태블릿 and 모바일 그리드
@media (max-width:1024px) and (min-width:0px){
    html{
        font-size: 5vw;  
        body{
            font-size: 1.25vw;
        }
    }
    .hdrWrap{
        header{
            @include gd('');
            h1{
                font-size: #{'min(3em,30px)'};
                line-height: #{'min(2rem,80px)'};
            }
            nav{
                display: none;
            }
            .menu{
                width: calc(100% / 8);
                justify-content: space-between;
                i{
                    line-height: #{'min(2rem,80px)'};
                    cursor: pointer;
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        display: none;
                    }
                    &:nth-child(4){
                        display: block;
                    }
                }
            }
            .menuMob{
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                color: #fff;
                z-index: 1000;
                .hdrMob{
                    padding: 10px #{'min(0.5rem,20px)'} 0px;
                    @include fx;
                    .mobLeft{
                        width: calc(100% / 8 * 1.5);
                        .image{
                            @include bg;
                            background-size: contain;
                            height: #{'min(1rem,40px)'};
                            background-image: url('/images/main/Slamp_footer_logo.png');
                            position: relative;
                            a:link{
                                width: 100%;
                                height: 100%;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                    .mobRight{
                        width: calc(100% / 8);
                        .icon{
                            @include fx;
                            justify-content: space-around;
                            i{                             
                                font-size: #{'min(2.8em,28px)'};
                                line-height: #{'min(1.5rem,40px)'};
                            }
                        }
                    }
                }
                .hdrActive{
                    padding-top: $lh80;
                    position: relative;
                    height: calc(100% - 50px);
                    .nav{
                        padding-left: $lh40;
                        .gnb{
                            cursor: pointer;
                            font-family: 'mr';
                            text-transform: uppercase;
                            line-height: $lh40;
                            font-size: #{'min(2.8em,28px)'};
                            position: relative;
                            li{
                                a:link{
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                                margin-top: #{'min(0.5rem,20px)'};
                            }
                        }
                    }
                    .mobSns{
                        display: flex;
                        border-top: 1px solid gray;
                        overflow: hidden;
                        font-size: #{'min(2.8em,28px)'};
                        line-height: $lh80;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        li{
                            margin-left: #{'min(0.5rem,20px)'};
                        }
                    }
                }
            }
        }
    }
    .mainWrap{
        padding-top: $lh80;
        main{
            @include gd('');
            h2{
                margin-top: 0;
                font-size: #{'min(3em,30px)'};
                line-height: $lh40;
            }
            h3{
                font-size: #{'min(1.8em,18px)'};
                margin-top: 0;
            }
            p{
                width: calc(100% / 8 * 5);
            }
        }
    }
    .cntWrap{
        margin-top:  #{'min(2rem,80px)'};
        .content{
            @include gd('');
            section{
                article{
                    &:nth-child(1){
                        .image.i1{
                            width: calc(100% / 8 * 4);
                            height: #{'min(10rem,400px)'};
                        }
                        .texts{
                            width: 100%;
                        }
                    }
                    &:nth-child(2){
                        margin-top: #{'min(4rem,160px)'};
                        height: #{'min(11rem,440px)'};
                        .image.i2{
                            width: calc(100% / 8 * 5);
                            height: #{'min(7rem,280px)'};
                            margin-left: 0;
                        }
                        .texts{
                            padding-top: $lh40;
                            width: calc(100% / 8 * 5);
                            right: 0;
                            height: #{'min(7rem,200px)'};
                            p{
                                width: calc(100% / 5 * 4.5);
                            }
                        }
                    }
                }
            }
        }
    }
    .bnrWrap{
        margin-top:  #{'min(2rem,80px)'};
        .banner{
            @include gd('');
            .text{
                p{
                    font-size: #{'min(1.4em,14px)'};
                    height: #{'min(1rem,40px)'};
                    &.on{
                        height: #{'min(2rem,80px)'};
                    }
                }
                h4{
                    font-size:  #{'min(1.2em,12px)'};
                }
            }
            .images{
                .imgTop{
                    margin: #{'min(2rem,80px)'} auto;
                    width: calc(100% / 8 * 4);
                }
                .imgBtm{
                    flex-wrap: wrap;
                    .imgGroup{
                        width: calc(100% / 2 - #{'min(0.5rem,20px)'});
                        &:nth-child(2)~div{
                            margin-top: $lh40;
                        }
                        .image{
                            width: calc(100% / 4 * 1.2);
                        }
                        .texts{
                            padding: 0px $lh40;
                            font-size: #{'min(1.6em,16px)'};
                        }
                    }
                }
            }
        }
    }
    .ftrWrap{
        margin-top: #{'min(2rem,80px)'};
        padding: $lh40 0px $lh40;
        footer{
            @include gd('');
            .ftrLeft{
                width: calc(100% / 8 * 7);
                .logo{
                    width: calc(100% / 7 * 1.8);
                }
                .info{
                    margin-top: $lh80;
                    p{
                        font-size: #{'min(1.2em,12px)'};
                    }
                    ul{
                        width: calc(100% / 7 * 2.8 );
                    }
                }
            }
            .ftrRight{
                width: calc(100% / 8 * 2);
            }
        }
    }
}
@media (max-width:420px) and (min-width:0px){
    html{
        font-size: 10.5vw;
        overflow-x: hidden;
        body{
            font-size: 2.625vw;
        }
    }
    .hdrWrap{
        header{
            @include gd('');
            h1{
                font-size: #{'min(2.4em,24px)'};
                line-height: #{'min(1rem,40px)'};
            }
            .menu{
                width: calc(100% / 4 * 0.7);
                font-size: #{'min(2.4em,24px)'};
                i{
                    line-height: #{'min(1rem,40px)'};
                }
            }
            .menuMob{
                .hdrMob{
                    .mobLeft{
                        width: calc(100% / 4);
                        .image{
                            height: #{'min(1.5rem,60px)'};
                        }
                    }
                    .mobRight{
                        width: calc(100% / 4);
                        .icon{
                            i{
                                line-height: #{'min(1.5rem,60px)'};
                            }
                        }
                    }
                }
                .hdrActive{
                    .nav{
                        padding-left: $lh20;
                        .gnb{
                            font-size: #{'min(2.4em,24px)'};
                            li{
                                margin-top: #{'min(0.75rem,30px)'};
                            }
                        }
                    }
                }
            }
        }
    }
    .mainWrap{
        margin-top: #{'max(-1rem,-40px)'};
        main{
            @include gd('');
            h2{
                font-size: #{'min(2.4em,24px)'};
            }
            h3{
                width: calc(100% / 4 * 3);
                font-size: #{'min(1.2em,12px)'};
                line-height: $lh20;
                margin-top: $lh40;
            }
            p{
                font-size: #{'min(1.2em,12px)'};
                width: calc(100%);
                height: $lh80;
            }
        }
    }

    .cntWrap{
        .content{
            @include gd('');
            section{
                article{
                    &:nth-child(1){
                        .image.i1{
                            width: calc(100% / 4 * 3);
                            height: #{'min(8rem,320px)'};
                        }
                    }
                    &:nth-child(2){
                        margin-top: $lh80;
                        height: #{'min(9rem,360px)'};
                        .image.i2{
                            height: #{'min(5rem,200px)'};
                            width: 100%;
                        }
                        .texts{
                            width: calc(100% / 4 * 3);
                            top: #{'min(4rem,160px)'};
                            p{
                                width: 100%;
                                font-size: #{'min(1.2em,12px)'};
                            }
                        }
                    }
                }
            }
        }
    }
    .bnrWrap{
        margin-top: $lh40;
        .banner{
            @include gd('');
            .images{
                .imgTop{
                    margin: #{'min(1rem,40px)'} 0px;
                    width: 100%;
                }
                .imgBtm{
                    .imgGroup{
                        width: calc(100% / 2 - #{'min(0.5rem,10px)'});
                        .image{
                            width: calc(100% / 4 * 2);
                        }
                        .texts{
                            padding: 0;
                            font-size: #{'min(1.2em,12px)'};
                        }
                    }
                }
            }
        }
    }
    .ftrWrap{
        footer{
            @include gd('');
            .ftrLeft{
                width: calc(100% / 4 * 3);
                .logo{
                    width: calc(100% / 2.8 * 1.5);
                }
                .info{
                    margin-top: $lh40;
                    p{
                        height: $lh80;
                    }
                    ul{
                        width: calc(100% / 3 * 2.5);
                        li{
                            font-size: #{'min(1.2em,12px)'};
                        }
                    }
                }
            }
            .ftrRight{
                width: calc(100% / 4 * 1.4);
                text-align: right;
            }
        }
    }
}