$h1:#{'min(3.6em,36px)'};
$h2:#{'min(3.6em,36px)'};
$h3:#{'min(2.4em,24px)'};
$h4:#{'min(1.8em,18px)'};
$p:#{'min(1.8em,18px)'};

$lh80:#{'min(2rem,80px)'};
$lh40:#{'min(1rem,40px)'};
$lh20:#{'min(0.5rem,20px)'};


// 폰트지정
@mixin ff($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('../css/fonts/#{$url}');
    }
}
// 사용 할 폰트
@include ff(mr,'Merriweather-LightItalic.ttf');
@include ff(lola,'Lora-Regular.ttf');
@include ff(loa,'Lora-Italic.ttf');
@include ff(bt,'BellMTItalic.ttf');

// 그리드
@mixin gd($dev){
    @if($dev=='pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else{
        width: 90%;
        max-width: 700px;
    }
    margin: 0 auto;
}

// 백그라운드 기본설정
@mixin bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// 플렉스
@mixin fx{
    display: flex;
    justify-content: space-between;
}

html{
    font-size: 3vw;  
    body{
        position: relative;
        background-color: #000;
        color: #fff;
        font-size: 0.7vw;
        overflow-x: hidden;
    }
}
// 헤더
.hdrWrap{
    width: 100%;
    position: relative;
    transition: all 0.5s;
    &.fix{
        position: fixed;
        top: 0;
        left: 0;
        color: #000;
        background-color: #fff;
        z-index: 900;
        h4{
            &:hover{
                color: orange;
            }
        }
    }
    header{
        @include gd('pc');
        @include fx;
        h1{
            cursor: pointer;
            font-size: $h1;
            text-transform: uppercase;
            font-weight: normal;
            line-height: $lh80;
            position: relative;
            a:link{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        nav{
            text-transform: uppercase;
            width: calc(100% / 12 * 6);
            @include fx;
            font-size: $h4;
            line-height: $lh80;
            h4{
                cursor: pointer;
                position: relative;
                a:link{
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:hover{
                    color: orange;
                }
            }
        }
        .menu{
            @include fx;
            width: calc(100% / 12 * 1.5);
            font-size: #{'min(3em,30px)'};
            i{
                cursor: pointer;
                line-height: $lh80;
                &:nth-child(4){
                    display: none;
                }
            }
        }
        .menuMob{
            display: none;
        }
    }
}
// 메인
.mainWrap{
    main{
        @include gd('pc');
        text-align: left;
        padding: #{'min(3rem,120px)'} 0px;
        h2{
            font-size: #{'min(4.8em,48px)'};
            line-height: $lh80;
            font-family: 'mr';
            text-align: center;
        }
    }
}

// 컨텐츠 공통
.cntWrap{
    margin-top: #{'min(2rem,80px)'};
    .content{
        @include gd('pc');
        @include fx;
        header{
            width: calc(100% / 12 * 3);
            h3{
                font-size: #{'min(3em,30px)'};
                line-height: $lh40;
                font-family: 'bt';
            }
            .btn{
                margin-top: #{'min(4rem,160px)'};
                font-size: #{'min(6em,60px)'};
                line-height: $lh80;
                opacity: 50%;
                margin-left: #{'min(1.5rem,60px)'};
            }
        }
        section{
            width: calc(100% / 12 * 9);
            .artView{
                overflow: hidden;
                width: calc((100vw - 1080px) / 2 + 100%);        
                min-width: calc((100vw - 80vw) / 2 + 100%);
                .artGroup{
                    width: 150%;
                    @include fx;
                    article{
                        width: calc(100% / 5 - #{'min(0.5rem,20px)'});
                        &:nth-child(3)~article .texts{
                            opacity: 0;
                        }
                        .image{
                            height: #{'min(12rem,480px)'};
                            @include bg;
                        }
                        .texts{
                            transition: opacity 0.5s;
                            h3{
                                margin-top: #{'min(1.5rem,30px)'};
                                text-transform: uppercase;
                                line-height: $lh20;
                                font-size: #{'min(2em,20px)'};
                                text-align: center;
                                font-family: 'loa';
                            }
                        }
                    }
                }
            }
        }
    }
}


// 컨텐츠1
.cntWrap{
    .content.cnt01{
        section{
            .artGroup{
                article{
                    .image{
                        @for $img from 1 through 5{
                            &.i#{$img}{
                                background-image: url('/images/sub4/cnt1-#{$img}.jpg');
                            }
                        }
                    }
                }
            }
        }
    }
}


// 컨텐츠2
.cntWrap{
    .content.cnt02{
        section{
            .artGroup{
                article{
                    .image{
                        @for $img from 1 through 5{
                            &.i#{$img}{
                                background-image: url('/images/sub4/cnt2-#{$img}.jpg');
                            }
                        }
                    }
                }
            }
        }
    }
}
.cntWrap{
    .content.cnt03{
        section{
            .artGroup{
                article{
                    .image{
                        @for $img from 1 through 5{
                            &.i#{$img}{
                                background-image: url('/images/sub4/cnt3-#{$img}.jpg');
                            }
                        }
                    }
                }
            }
        }
    }
}

// 푸터
.ftrWrap{
    margin-top: #{'min(4rem,160px)'};
    padding: $lh80 0px $lh80;
    background-color: #1d1d1d;
    footer{
        @include fx;
        @include gd('pc');
        .ftrLeft{
            width: calc(100% / 12 * 7);
            .logo{
                @include bg;
                background-size: contain;
                width: calc(100% / 7 * 1.8);
                height: #{'min(2rem,80px)'};
                background-image: url('../images/main/Slamp_footer_logo.png');
            }
            .info{
                width: 102%;
                margin-top: $lh40;
                p{
                    font-size: #{'min(1.4em,14px)'};
                    line-height: $lh20;
                    height: $lh40;
                }
                ul{
                    width: calc(100% / 7 * 2.5);
                    @include fx;
                    li{
                        margin-top: #{'min(0.5rem,20px)'};
                        line-height: $lh20;
                        font-size: #{'min(1.4em,14px)'};
                        &::after{
                            opacity: 50%;
                            display: block;
                            content: '';
                            border: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .ftrRight{
            width: calc(100% / 12 * 2);
            font-size: #{'min(2.4em,24px)'};
            i{
                background-color: #fff;
                border-radius: 2px;
                color: #000;
            }
        }
    }
}


// 반응형 태블릿 and 모바일 그리드
@media (max-width:1024px) and (min-width:0px){
    html{
        font-size: 5vw;  
        body{
            font-size: 1.25vw;
        }
    }
    .hdrWrap{
        header{
            @include gd('');
            h1{
                font-size: #{'min(3em,30px)'};
                line-height: #{'min(2rem,80px)'};
            }
            nav{
                display: none;
            }
            .menu{
                width: calc(100% / 8);
                justify-content: space-between;
                i{
                    line-height: #{'min(2rem,80px)'};
                    cursor: pointer;
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        display: none;
                    }
                    &:nth-child(4){
                        display: block;
                    }
                }
            }
            .menuMob{
                display: none;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                color: #fff;
                z-index: 1000;
                .hdrMob{
                    padding: 10px #{'min(0.5rem,20px)'} 0px;
                    @include fx;
                    .mobLeft{
                        width: calc(100% / 8 * 1.5);
                        .image{
                            @include bg;
                            background-size: contain;
                            height: #{'min(1rem,40px)'};
                            background-image: url('/images/main/Slamp_footer_logo.png');
                            position: relative;
                            a:link{
                                width: 100%;
                                height: 100%;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                    .mobRight{
                        width: calc(100% / 8);
                        .icon{
                            @include fx;
                            justify-content: space-around;
                            i{                             
                                font-size: #{'min(2.8em,28px)'};
                                line-height: #{'min(1.5rem,40px)'};
                            }
                        }
                    }
                }
                .hdrActive{
                    padding-top: $lh80;
                    position: relative;
                    height: calc(100% - 50px);
                    .nav{
                        padding-left: $lh40;
                        .gnb{
                            cursor: pointer;
                            font-family: 'mr';
                            text-transform: uppercase;
                            line-height: $lh40;
                            font-size: #{'min(2.8em,28px)'};
                            li{
                                margin-top: #{'min(0.5rem,20px)'};
                                position: relative;
                                a:link{
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                    .mobSns{
                        display: flex;
                        border-top: 1px solid gray;
                        overflow: hidden;
                        font-size: #{'min(2.8em,28px)'};
                        line-height: $lh80;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        li{
                            margin-left: #{'min(0.5rem,20px)'};
                        }
                    }
                }
            }
        }
    }
    .mainWrap{
        main{
            @include gd('');
            padding: $lh80 0px #{'min(3rem,120px)'};
            h2{
                margin-top: 0;
                font-size: #{'min(3em,30px)'};
                line-height: $lh40;
            }
        }
    }
    .cntWrap{
        margin-top: #{'min(2rem,80px)'};
        &:nth-child(3){
            margin-top: 0px;
        }
        .content{
            @include gd('');
            header{
                width: calc(100% / 8 * 2);
                h3{
                    font-size: #{'min(2.4em,24px)'};
                }
                .btn{
                    margin-top: #{'min(2.5rem,100px)'};
                }
            }
            section{
                width: calc(100% / 8 * 6);
                .artView{
                    width: calc((100vw - 700px) / 2 + 100%);  
                    min-width: calc((100vw - 90vw) / 2 + 100%);
                    .artGroup{
                        width: 200%;
                        article{
                            .image{
                                height: #{'min(9rem,360px)'};
                            }
                            .texts{
                                h3{
                                    margin-top: #{'min(0.5rem,20px)'};
                                    font-size: #{'min(1.6em,16px)'};
                                    line-height: $lh20;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .ftrWrap{
        margin-top: #{'min(2rem,80px)'};
        padding: $lh40 0px $lh40;
        footer{
            @include gd('');
            .ftrLeft{
                width: calc(100% / 8 * 7);
                .logo{
                    width: calc(100% / 7 * 1.8);
                }
                .info{
                    margin-top: $lh80;
                    p{
                        font-size: #{'min(1.2em,12px)'};
                    }
                    ul{
                        width: calc(100% / 7 * 2.8 );
                    }
                }
            }
            .ftrRight{
                width: calc(100% / 8 * 2);
            }
        }
    }
}
@media (max-width:420px) and (min-width:0px){
    html{
        font-size: 10.5vw;
        overflow-x: hidden;
        body{
            font-size: 2.625vw;
        }
    }
    .hdrWrap{
        header{
            @include gd('');
            h1{
                font-size: #{'min(2.4em,24px)'};
                line-height: #{'min(1rem,40px)'};
            }
            .menu{
                width: calc(100% / 4 * 0.7);
                font-size: #{'min(2.4em,24px)'};
                i{
                    line-height: #{'min(1rem,40px)'};
                }
            }
            .menuMob{
                .hdrMob{
                    .mobLeft{
                        width: calc(100% / 4);
                        .image{
                            height: #{'min(1.5rem,60px)'};
                        }
                    }
                    .mobRight{
                        width: calc(100% / 4);
                        .icon{
                            i{
                                line-height: #{'min(1.5rem,60px)'};
                            }
                        }
                    }
                }
                .hdrActive{
                    .nav{
                        padding-left: $lh20;
                        .gnb{
                            font-size: #{'min(2.4em,24px)'};
                            li{
                                margin-top: #{'min(0.75rem,30px)'};
                            }
                        }
                    }
                }
            }
        }
    }
    .mainWrap{
        margin-top: #{'max(-1rem,-40px)'};
        main{
            padding: $lh80 0px;
            @include gd('');
            h2{
                font-size: #{'min(2.4em,24px)'};
            }
        }
    }
    .cntWrap{
        .content{
            @include gd('');
            header{
                width: calc(100% / 4 * 1.5);
                h3{
                    text-align: center;
                    font-size: #{'min(1.8em,18px)'};
                }
                .btn{
                    margin-top: #{'min(2rem,80px)'};
                    margin-left: $lh40;
                }
            }
            section{
                width: calc(100% / 4 * 2.5);
                .artView{
                    .artGroup{
                        width: 500%;
                        article{
                            .image{
                                height: #{'min(7rem,280px)'};
                            }
                        }
                    }
                }
            }
        }
    }
    .ftrWrap{
        footer{
            @include gd('');
            .ftrLeft{
                width: calc(100% / 4 * 3);
                .logo{
                    width: calc(100% / 2.8 * 1.5);
                }
                .info{
                    margin-top: $lh40;
                    p{
                        height: $lh80;
                    }
                    ul{
                        width: calc(100% / 3 * 2.5);
                        li{
                            font-size: #{'min(1.2em,12px)'};
                        }
                    }
                }
            }
            .ftrRight{
                width: calc(100% / 4 * 1.4);
                text-align: right;
            }
        }
    }
}