$h1:#{'min(3.6em,36px)'};
$h2:#{'min(3.6em,36px)'};
$h4:#{'min(1.8em,18px)'};
$p:#{'min(1.8em,18px)'};

$lh80:#{'min(2rem,80px)'};
$lh40:#{'min(1rem,40px)'};
$lh20:#{'min(0.5rem,20px)'};


// 폰트지정
@mixin ff($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('../css/fonts/#{$url}');
    }
}
// 사용 할 폰트
@include ff(mr,'Merriweather-LightItalic.ttf');
@include ff(lola,'Lora-Regular.ttf');
@include ff(loa,'Lora-Italic.ttf');

// 그리드
@mixin gd($dev){
    @if($dev=='pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else{
        width: 90%;
        max-width: 700px;
    }
    margin: 0 auto;
}

// 백그라운드 기본설정
@mixin bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// 플렉스
@mixin fx{
    display: flex;
    justify-content: space-between;
}

html{
    font-size: 3vw;  
    body{
        position: relative;
        background-color: #000;
        color: #fff;
        font-size: 0.7vw;
        overflow-x: hidden;
    }
}
// 헤더
.hdrWrap{
    width: 100%;
    position: relative;
    transition: all 0.5s;
    &.fix{
        position: fixed;
        top: 0;
        left: 0;
        color: #000;
        background-color: #fff;
        z-index: 900;
        h4{
            &:hover{
                color: orange;
            }
        }
    }
    header{
        @include gd('pc');
        @include fx;
        h1{
            position: relative;
            cursor: pointer;
            font-size: $h1;
            text-transform: uppercase;
            font-weight: normal;
            line-height: $lh80;
            a:link{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        nav{
            text-transform: uppercase;
            width: calc(100% / 12 * 6);
            @include fx;
            font-size: $h4;
            line-height: $lh80;
            h4{
                cursor: pointer;
                position: relative;
                a:link{
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:hover{
                    color: black;
                }
            }
        }
        .menu{
            @include fx;
            width: calc(100% / 12 * 1.5);
            font-size: #{'min(3em,30px)'};
            i{
                cursor: pointer;
                line-height: $lh80;
            }
        }
    }
}
.mainWrap{
    margin-top: #{'max(-3rem,-120px)'};
    padding: #{'min(7rem,280px)'} 0px #{'min(10rem,400px)'};
    @include bg;
    background-image: url('../images/sub1/sub1_main.png');
    height: #{'min(23rem,920px)'};
    main{
        color: #fff;
        @include gd('pc');
        h2{
            margin-left: min;
            font-size: #{'min(4.8em,48px)'};
            line-height: $lh80;
            text-transform: capitalize;
            text-align: left;
            margin-left:  #{'min(1.75rem,70px)'};
            font-family: 'mr';
        }
        p{
            margin-left:  #{'min(1.75rem,70px)'};
            margin-top: #{'min(1rem,40px)'};
            width: calc(100% / 12 * 6);
            font-size: #{'min(1.8em,18px)'};
            line-height: $lh20;
            height: $lh40;
            overflow: hidden;
            font-family: 'lola';
        }
        .btn{
            margin-top: $lh80;
            margin-left:  #{'min(1.75rem,70px)'};
            line-height: $lh40;
            font-size: #{'min(1.6em,16px)'};
            text-transform: uppercase;
            background-color: #837c7a;
            width: calc(100% / 12 * 2);
            text-align: center;
            opacity: 70%;
        }
    }
}
// 배너공통
.bnrWrap{
    margin-top: #{'min(5rem,200px)'};
    .banner{
        @include gd('pc');
    }
}
// 컨텐츠 공통
.cntWrap{
    margin-top: #{'min(5rem,200px)'};
    .content{
        @include gd('pc');
        header{
            text-align: center;
            font-size: $h2;
            line-height: $lh80;
            font-family: 'mr';
        }
    }
}

// 배너1

.bnrWrap{
    .banner.bnr01{
        display: flex;
        justify-content: space-around;
        .icon{
            width: calc(100% / 4);
            cursor: pointer;
            text-align: center;
            h4{
                font-size: $h4;
                line-height: $lh40;
                font-family: 'lola';
            }
            .image{
                @include bg;
                background-size: contain;
                height: $lh80;
                @for $img from 1 through 4{
                    &.i#{$img}{
                        background-image: url('../images/sub1/banner1-#{$img}.png');
                    }
                }
            }
        }
    }
}
// 배너2
.banner.bnr02{
    width: 100%;
    max-width: none;
    overflow: hidden;
    .bnrTeam{
        width: 400%;
        @include fx;
        .bnrGroup{
            @include fx;
            width: calc(100% / 4);
            direction: rtl;
            .image{
                width: calc(100% / 12 * 7);
                height: #{'min(17rem,680px)'};
                @include bg;
                @for $img from 1 through 4{
                    &.i#{$img}{
                        background-image: url('../images/sub1/banner2-#{$img}.png');
                    }
                }
            }
            .texts{
                width: calc(100% / 12 * 5);
                h2{
                    font-family: 'lola';
                    text-align: right;
                    margin-right: #{'min(1.75rem,70px)'};
                    margin-top: #{'min(5rem,200px)'};
                    font-size: #{'min(7.2em,72px)'};
                    line-height: $lh80;
                    text-transform: uppercase;
                    &:nth-child(2){
                        margin-top: $lh80;
                    }
                }
            }
        }
    }
}
.cntWrap{
    .content.cnt01{
        section{
            width: 100%;
            position: relative;
            overflow: hidden;
            .txtbtn{
                text-align: center;
                width: calc(100% / 12 * 1.5);
                position: absolute;
                bottom: $lh20;
                right: 0;
                font-size: #{'min(1.6em,16px)'};
                line-height: $lh40;
                text-transform: uppercase;
                background-color: #333;
            }
            .btn{
                position: absolute;
                top: #{'min(7rem,280px)'};
                right: #{'min(1.5rem,60px)'};;
                font-size: #{'min(6em,60px)'};
                line-height: $lh80;
            }
            .artGroup{
                @include fx;
                margin-top: #{'min(1.5rem,60px)'};
                width: 167%;
                position: relative;
                .article{
                    width: calc(100% / 5); 
                    &:nth-child(1){
                        opacity: 0;
                    }
                    &:nth-child(2){
                        z-index: 3;
                        position: relative;
                        left: #{'min(2rem,80px)'};
                    }
                    &:nth-child(3){
                        z-index: 2;
                        position: relative;
                        right: #{'min(2rem,80px)'};
                    }
                    &:nth-child(4){
                        right: #{'min(6rem,240px)'};
                        position: relative;
                        z-index: 1;
                    }
                    &:nth-child(5){
                        opacity: 0;
                    }
                    &:nth-child(2)~.article .texts{
                        display: none;
                    }
                    &:nth-child(3) .image{
                        height: #{'min(12rem,480px)'};
                        margin-top: #{'min(0.5rem,20px)'};
                    }
                    &:nth-child(4) .image{
                        height: #{'min(12rem,440px)'};
                        margin-top: #{'min(1rem,40px)'};
                    }
                    .image{
                        @include bg;
                        height: #{'min(13rem,520px)'};
                        @for $img from 1 through 5{
                            &.i#{$img}{
                                background-image: url('../images/sub1/content1-#{$img}.png');
                            }
                        } 
                    }
                    .texts{
                        text-align: center;
                        margin-top: $lh40;
                        color: #fff;
                        font-family: 'loa';
                        h3{
                            font-size: #{'min(2.4em,24px)'};
                            line-height: $lh40;
                        }
                        h4{
                            font-size: #{'min(1.8em,18px)'};
                            line-height: $lh40;
                        }
                    }
                }
            }
        }
    }
}
.bnrWrap{
    &:nth-child(6){
        width: 100%;
        position: relative;
        z-index: 1;
        height: #{'min(18rem,720px)'};
        &::after{
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 70%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: repeat;
            background-size: contain;
            background-image: url('../images/sub1/banner3.png');
            height: #{'min(18rem,720px)'};
        }
    }
    .banner.bnr03{
        padding-top: #{'min(8rem,320px)'};
        h2{
            font-family: 'loa';
            font-size: #{'min(6em,60px)'};
            line-height: $lh80;
            text-transform: capitalize;
            text-align: center;
        }
    }
}
.content.cnt02{
    width: 100%;
    max-width: none;
    section{
        @include fx;
        margin-top: #{'min(3rem,120px)'};
        article{
            position: relative;
            width: calc(100% / 4 - #{'min(0.5rem,20px)'});
            transition: all 0.5s;
            &:hover{
                margin-top: #{'min(1rem,-40px)'};
                & .image::after{
                    display: none;
                }
            }
            .image{
                position: relative;
                height: #{'min(15rem,600px)'};
                z-index: 1;
                @include bg;
                &::after{
                    height: #{'min(15rem,600px)'};
                    content: '';
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 80%;
                    background-color: #333;
                }
                @for $img from 1 through 4{
                    &.i#{$img}{
                        background-image: url('../images/sub1/content2-#{$img}.png');
                    }
                }
            }
            .texts{
                font-family: 'loa';
                transition: all 0.4s;
                position: absolute;
                top: #{'min(5rem,200px)'};
                left: 0;right: 0;
                margin: auto;
                z-index: 2;
                text-align: center;
                font-size: #{'min(3em,30px)'};
                line-height: $lh40;
            }
        }
    }
}
// 푸터
.ftrWrap{
    margin-top: #{'min(5rem,200px)'};
    padding: $lh80 0px $lh80;
    background-color: #1d1d1d;
    footer{
        @include fx;
        @include gd('pc');
        .ftrLeft{
            width: calc(100% / 12 * 7);
            .logo{
                @include bg;
                background-size: contain;
                width: calc(100% / 7 * 1.8);
                height: #{'min(2rem,80px)'};
                background-image: url('../images/main/Slamp_footer_logo.png');
            }
            .info{
                width: 102%;
                margin-top: $lh40;
                p{
                    font-size: #{'min(1.4em,14px)'};
                    line-height: $lh20;
                    height: $lh40;
                }
                ul{
                    width: calc(100% / 7 * 2.5);
                    @include fx;
                    li{
                        margin-top: #{'min(0.5rem,20px)'};
                        line-height: $lh20;
                        font-size: #{'min(1.4em,14px)'};
                        &::after{
                            opacity: 50%;
                            display: block;
                            content: '';
                            border: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .ftrRight{
            width: calc(100% / 12 * 2);
            font-size: #{'min(2.4em,24px)'};
            i{
                background-color: #fff;
                border-radius: 2px;
                color: #000;
            }
        }
    }
}

// 반응형 태블릿 and 모바일 그리드
@media (max-width:1024px) and (min-width:0px){
    .hdrWrap{
        header{
            @include gd('');
        }
    }
    .mainWrap{
        main{
            @include gd('');
        }
    }
    .cntWrap{
        .content{
            @include gd('');
        }
    }
    .brnWrap{
        .banner{
            @include gd('');
        }
    }
    .ftrWrap{
        footer{
            @include gd('');
        }
    }
}