$h1:#{'min(3.6em,36px)'};
$h2:#{'min(3.6em,36px)'};
$h3:#{'min(2.4em,24px)'};
$h4:#{'min(1.8em,18px)'};
$p:#{'min(1.8em,18px)'};

$lh80:#{'min(2rem,80px)'};
$lh40:#{'min(1rem,40px)'};
$lh20:#{'min(0.5rem,20px)'};


// 폰트지정
@mixin ff($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('../css/fonts/#{$url}');
    }
}
// 사용 할 폰트
@include ff(mr,'Merriweather-LightItalic.ttf');
@include ff(lola,'Lora-Regular.ttf');
@include ff(loa,'Lora-Italic.ttf');

// 그리드
@mixin gd($dev){
    @if($dev=='pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else{
        width: 90%;
        max-width: 700px;
    }
    margin: 0 auto;
}

// 백그라운드 기본설정
@mixin bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// 플렉스
@mixin fx{
    display: flex;
    justify-content: space-between;
}

html{
    font-size: 3vw;  
    body{
        position: relative;
        background-color: #000;
        color: #fff;
        font-size: 0.7vw;
        overflow-x: hidden;
    }
}
// 헤더
.hdrWrap{
    width: 100%;
    position: relative;
    transition: all 0.5s;
    &.fix{
        position: fixed;
        top: 0;
        left: 0;
        color: #000;
        background-color: #fff;
        z-index: 900;
        h4{
            &:hover{
                color: orange;
            }
        }
    }
    header{
        @include gd('pc');
        @include fx;
        h1{
            cursor: pointer;
            font-size: $h1;
            text-transform: uppercase;
            font-weight: normal;
            line-height: $lh80;
        }
        nav{
            text-transform: uppercase;
            width: calc(100% / 12 * 6);
            @include fx;
            font-size: $h4;
            line-height: $lh80;
            h4{
                cursor: pointer;
                &:hover{
                    color: black;
                }
            }
        }
        .menu{
            @include fx;
            width: calc(100% / 12 * 1.5);
            font-size: #{'min(3em,30px)'};
            i{
                cursor: pointer;
                line-height: $lh80;
            }
        }
    }
}
.mainWrap{
    main{
        @include gd('pc');
        text-align: left;
        h2{
            margin-top:  #{'min(3rem,120px)'};
            font-size: #{'min(4.8em,48px)'};
            line-height: $lh80;
        }
        h3{
            margin-top: $lh40;
            font-size: #{'min(2.8em,28px)'};
            line-height: $lh40;
        }
        p{
            margin-top: $lh40;
            font-size: #{'min(1.4em,14px)'};
            line-height: $lh20;
            height: $lh40;
            width: calc(100% / 12 * 8);
        }
        h4{
            margin-top: $lh40;
            font-size: $h4;
            line-height: $lh40;
        }
    }
}
.cntWrap{
    margin-top:  #{'min(3rem,120px)'};
    .content{
        @include gd('pc');
        header{
            text-align: center;
            h2{
                font-size: $h2;
                line-height: $lh80;
            }
            ul{
                width: calc(100% / 12 * 8);
                margin: 0 auto;
                @include fx;
                flex-wrap: wrap;
                font-size: $h4;
                line-height: $lh40;
            }
        }
        section{
            @include fx;
            flex-wrap: wrap;
            article{
                position: relative;
                margin-top: $lh40;
                width: calc(100% / 2 - #{'min(0.5rem,20px)'});
                &:nth-child(4)~article{
                    display: none;
                }
                .image{
                    height: #{'min(10rem,400px)'};
                    @include bg;
                    @for $img from 1 through 12{
                        &.i#{$img}{
                            background-image: url('../images/sub2/sb2-#{$img}.jpg');
                        }
                    }
                }
                .texts{
                    position: absolute;
                    bottom: $lh20;right: 0;left: 0;
                    text-align: center;
                    font-size: $h4;
                    line-height: $lh20;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding-left: $lh80;
                    padding-right: $lh80;
                    h3{
                        text-shadow: 1.5px 1.5px 7px #000;
                    }                
                }
            }
            .btn{
                text-align: center;
                line-height: $lh40;
                font-size: $h4;
                width: calc(100% / 12 * 2.5);
                background-color: #333;
                text-transform: capitalize;
                margin: 0 auto;
                margin-top: $lh80;
                transition: all 0.4s;
                &:hover{
                    line-height: #{'min(1.5rem,60px)'};
                    margin-top: #{'min(-0.5em,-20px)'};
                    background-color: #fff;
                    color: #000;
                    font-size: #{'min(2em,20px)'};;
                }
            }
        }
    }
}

.ftrWrap{
    margin-top: #{'min(4rem,160px)'};
    padding: $lh80 0px $lh80;
    background-color: #1d1d1d;
    footer{
        @include fx;
        @include gd('pc');
        .ftrLeft{
            width: calc(100% / 12 * 7);
            .logo{
                @include bg;
                background-size: contain;
                width: calc(100% / 7 * 1.8);
                height: #{'min(2rem,80px)'};
                background-image: url('../images/main/Slamp_footer_logo.png');
            }
            .info{
                width: 102%;
                margin-top: $lh40;
                p{
                    font-size: #{'min(1.4em,14px)'};
                    line-height: $lh20;
                    height: $lh40;
                }
                ul{
                    width: calc(100% / 7 * 2.5);
                    @include fx;
                    li{
                        &::after{
                            opacity: 50%;
                            display: block;
                            content: '';
                            border: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .ftrRight{
            width: calc(100% / 12 * 2);
            font-size: #{'min(2.4em,24px)'};
            i{
                background-color: #fff;
                border-radius: 2px;
                color: #000;
            }
        }
    }
}